.navbar {
    font-size: .875rem;
    font-weight: 600;
    text-transform: none;
    color: #D32F2F;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    text-transform: none;
    letter-spacing: 3px;
    color: #D32F2F;
}

.navbar-brand{
  color: #D32F2F;
}

